body, .list-inline.post-meta.mb-4, article a {     /* Override the body style for the post ul element*/
    line-height: 1.7;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #696c6d;
    font-size: 14px;
}

body {
    padding-top: 60px;
}

p,
.paragraph {
    font-weight: 400;
    color: #696c6d;
    font-size: 14px;
    line-height: 1.7;
    font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1c1d1f;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    line-height: 1.2;
}

h1,
.h1 {
    font-size: 45px;
}

h2,
.h2 {
    font-size: 36px;
}

h3,
.h3 {
    font-size: 28px;
}

h4,
.h4 {
    font-size: 22px;
}

h5,
.h5 {
    font-size: 18px;
}

h6,
.h6 {
    font-size: 14px;
}